# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

bin/debug/RaspberryApp/

bin/debug/RadarApp/

lib\.linux/libCarrier\.so\.1

lib\.linux/libCarrier\.so\.1\.0

lib\.linux/libCarrier\.so\.1\.0\.0

lib\.linux/libDataController\.so\.1

lib\.linux/libDataController\.so\.1\.0

lib\.linux/libDataController\.so\.1\.0\.0

lib\.linux/libDemodulator\.so\.1

lib\.linux/libDemodulator\.so\.1\.0

lib\.linux/libDemodulator\.so\.1\.0\.0

lib\.linux/libDSPLib\.so\.1

lib\.linux/libDSPLib\.so\.1\.0

lib\.linux/libDSPLib\.so\.1\.0\.0

lib\.linux/libGraphicsWidget\.so\.1

lib\.linux/libGraphicsWidget\.so\.1\.0

lib\.linux/libGraphicsWidget\.so\.1\.0\.0

lib\.linux/libLogger\.so\.1

lib\.linux/libLogger\.so\.1\.0

lib\.linux/libLogger\.so\.1\.0\.0

lib\.linux/libMapLib\.so\.1

lib\.linux/libMapLib\.so\.1\.0

lib\.linux/libMapLib\.so\.1\.0\.0

lib\.linux/libPoolObject\.so\.1

lib\.linux/libPoolObject\.so\.1\.0

lib\.linux/libPoolObject\.so\.1\.0\.0

lib\.linux/libRTL_SDR_Reciver\.so\.1

lib\.linux/libRTL_SDR_Reciver\.so\.1\.0

lib\.linux/libRTL_SDR_Reciver\.so\.1\.0\.0

lib\.linux/libSubject\.so\.1

lib\.linux/libSubject\.so\.1\.0

lib\.linux/libSubject\.so\.1\.0\.0

lib*.so*
/bin/*
tests/TestServer/TestServer
